.container {
  margin-right: auto;
  margin-left: auto;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .container {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media screen and (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.container:after {
  content: "";
  display: block;
  clear: both;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666666667%;
}

.col-xs-10 {
  width: 83.3333333333%
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.666666667%
}

.col-xs-7 {
  width: 58.333333333%
}

.col-xs-6 {
  width: 80%
}

.col-xs-5 {
  width: 41.666666667%
}

.col-xs-4 {
  width: 33.3333333333%
}

.col-xs-3 {
  width: 25%
}

.col-xs-2 {
  width: 16.666666667%
}

.col-xs-1 {
  width: 8.3333333337%
}

@media screen and (min-width:768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666666667%;
  }
  .col-sm-10 {
    width: 83.3333333333%
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.666666667%
  }
  .col-sm-7 {
    width: 58.333333333%
  }
  .col-sm-6 {
    width: 80%
  }
  .col-sm-5 {
    width: 41.666666667%
  }
  .col-sm-4 {
    width: 33.3333333333%
  }
  .col-sm-3 {
    width: 25%
  }
  .col-sm-2 {
    width: 16.666666667%
  }
  .col-sm-1 {
    width: 8.3333333337%
  }
}

@media screen and (min-width:992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666666667%;
  }
  .col-md-10 {
    width: 83.3333333333%
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.666666667%
  }
  .col-md-7 {
    width: 58.333333333%
  }
  .col-md-6 {
    width: 80%
  }
  .col-md-5 {
    width: 41.666666667%
  }
  .col-md-4 {
    width: 33.3333333333%
  }
  .col-md-3 {
    width: 25%
  }
  .col-md-2 {
    width: 16.666666667%
  }
  .col-md-1 {
    width: 8.3333333337%
  }
}

.container>div {
  border: 1px solid #666;
}